<section class="app-tasks">
  <ng-container *ngIf="!open; else isClosed">
    <button
      pButton
      pRipple
      class="p-element p-ripple p-button-rounded p-button-outlined p-button p-component p-button-icon-only"
      (click)="isOpen()"
      icon="pi pi-plus"
    ></button>
  </ng-container>
  <ng-template #isClosed>
    <button
      pButton
      pRipple
      class="p-element p-ripple p-button-rounded p-button-outlined p-button p-component p-button-icon-only"
      (click)="isOpen()"
      icon="pi pi-times"
    ></button>
  </ng-template>
  <section class="app-tasks-items">
    <app-form-create-task
      *ngIf="open"
      (closedFormCreateTask)="cancel($event)"
    ></app-form-create-task>
  </section>
  <section class="app-tasks-items">
    <app-task [task]="task" *ngFor="let task of tasks"></app-task>
  </section>
</section>
<p-toast></p-toast>
