<p-card [style]="{ width: '360px', marginTop: '20px' }" styleClass="p-card-shadow">
  <ng-template pTemplate="header">
    <section class="app-card-task-header">
      <section class="app-card-task-title">
        <h1 class="custom-tittle">{{ task.title }}</h1>
      </section>
      <section class="app-card-body">
        <div class="presentation-data">
          <p class="text">{{ task.description }}</p>
        </div>
        <p class="text"><b>Is priority:</b> {{ task.isPriority }}</p>
      </section>
      <section class="app-card-task-options">
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-element p-ripple p-button-rounded p-button p-component p-button-icon-only app-card-task-options-button button-custom"
          title="Complete"
          type="button"
          (click)="completeTask(task.taskId)"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-star"
          class="p-element p-ripple p-button-rounded p-button-warning p-button p-component p-button-icon-only app-card-task-options-button button-custom"
          title="Change Priority"
          type="button"
          (click)="changePriorityTask(task.taskId)"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-element p-ripple p-button-rounded p-button-secondary p-button p-component p-button-icon-only app-card-task-options-button button-custom"
          title="Edit"
          type="button"
          (click)="openModal()"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-element p-ripple p-button-rounded p-button-danger p-button p-component p-button-icon-only app-card-task-options-button button-custom"
          title="Remove"
          type="button"
          (click)="deleteTask(task.taskId)"
        ></button>
      </section>
    </section>
  </ng-template>
</p-card>
<p-dialog
  header="Edit Task"
  [style]="{ width: '35vw' }"
  [(visible)]="open"
  [modal]="true"
  [draggable]="false"
  [resizable]="true"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
>
  <app-form-update-task
    [task]="task"
    (closedModal)="closeModal($event)"
  ></app-form-update-task>
</p-dialog>
