.app-card-task-title {
  display: flex;
  margin-left: 20px;
}

.app-card-task-options {
  margin-left: 20px;
}

.app-card-body {
  margin-left: 20px;
}

.button-custom {
  margin: 0 5px;
}

.custom-tittle {
  margin: 15px 0;
  font-size: 20px;
}

.ng-tns-c65-3.p-dialog-content::-webkit-scrollbar-thumb {
  background: purple !important;
}

.p-card-custom {
  width: 360px;
  margin-top: 20px;
}

.presentation-data {
  height: 100px;
  width: auto;
  border: 1px solid white;
  overflow-y: scroll;
  overflow-x: hidden;
}

.presentation-data::-webkit-scrollbar {
  width: 5px;
}

.presentation-data::-webkit-scrollbar-thumb {
  background: purple;
}

.text {
  height: auto;
  margin-top: 10px 0 !important;
  padding-right: 5px;
  line-height: 1.7;
  text-align: justify;
}
