<article class="app-task">
  <section class="app-content">
    <p-panel header="TASK LIST"
             [toggleable]="true">
      <app-tasks></app-tasks>
    </p-panel>
  </section>
</article>

<p-toast></p-toast>
