.app-task {
  width: 100%;
  height: 500px;
  align-items: center;
  display: flex;
  position: relative;
  justify-content: center;
}

.app-content {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50px;
  position: absolute;
}

.app-add-task {
  display: flex;
  align-items: end;
}

.app-tasks {
  width: 100%;
  word-break: break-word;
}

.app-card-task-options {
  display: flex;
  justify-content: end;
}

.app-card-task-header {
  display: flex;
  justify-content: space-between;
}

.app-card-task-options-button {
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 10px;
}

.app-tasks-items {
  max-height: 500px;
  overflow-y: auto;
}

.button-custom{
  margin: 0 10px;
}
