<div class="input-custom">
  <span class="p-float-label">
    <textarea
      inputId="textarea"
      rows="4"
      class="textarea-custom"
      cols="30"
      pInputTextarea
      [(ngModel)]="taskEdit.title"
    ></textarea>
    <label for="textarea">Title</label>
  </span>
</div>
<div class="input-custom">
  <span class="p-float-label">
    <textarea
      inputId="textarea"
      rows="7"
      class="textarea-custom"
      cols="30"
      pInputTextarea
      [(ngModel)]="taskEdit.description"
    ></textarea>
    <label for="textarea">Description</label>
  </span>
</div>
<div class="p-input-custom">
  <div class="field-checkbox">
    <p-checkbox
      [(ngModel)]="taskEdit.isPriority"
      [binary]="true"
      inputId="binary"
    ></p-checkbox>
    <label for="binary"> Is priority </label>
  </div>
</div>
<div class="p-input-custom">
  <span class="p-float-label">
    <p-calendar
      styleClass="my-datepicker"
      [minDate]="minDateValue"
      [required]="true"
      inputId="calendar"
      dateFormat="dd/mm/yy"
      [(ngModel)]="newDate"
    ></p-calendar>
    <label for="calendar">Limited date to task</label>
  </span>
</div>
<div class="p-input-custom">
  <button
    pButton
    pRipple
    type="button"
    label="Accept"
    class="p-button-rounded custom-button"
    (click)="operate()"
  ></button>
  <button
    pButton
    pRipple
    type="button"
    label="Cancel"
    class="p-button-rounded p-button-danger custom-button"
    (click)="cancelar()"
  ></button>
</div>
