.custom-button{
  margin: 0 5px
}

.input-custom {
  padding: 20px 0 !important;
}

.my-datepicker {
  font-size: 0.8rem;
  width: 250px;
}

.p-dialog-content::-webkit-scrollbar-thumb {
 background: purple !important;
}

.p-input-custom {
  padding: 10px 5px;
}

.textarea-custom {
  resize: none;
}
