<p-card styleClass="p-card-shadow p-card-custom">
  <div class="custom-input">
    <span class="p-float-label">
      <textarea
        [(ngModel)]="title"
        required="true"
        id="float-input"
        rows="1"
        cols="35"
        [autoResize]="autoResize"
        pInputTextarea
      ></textarea>
      <label for="float-input">Title</label>
    </span>
  </div>
  <div class="custom-input">
    <span class="p-float-label">
      <textarea
        [(ngModel)]="description"
        required="true"
        id="float-input"
        rows="4"
        cols="35"
        [autoResize]="autoResize"
        pInputTextarea
      ></textarea>
      <label for="float-input">Description</label>
    </span>
  </div>
  <div class="custom-input">
    <div class="field-checkbox">
      <p-checkbox
        [(ngModel)]="checked"
        [binary]="true"
        inputId="binary"
      ></p-checkbox>
      <label for="binary"> Is priority </label>
    </div>
  </div>
  <div class="custom-input">
    <span class="p-float-label">
      <p-calendar
        [minDate]="minDateValue"
        [(ngModel)]="limitedDate"
        [required]="true"
        inputId="calendar"
        dateFormat="dd/mm/yy"
      ></p-calendar>
      <label for="calendar">Limited date to task</label>
    </span>
  </div>
  <div class="custom-input">
    <button
      pButton
      pRipple
      type="button"
      label="Accept"
      class="p-button-rounded custom-button"
      (click)="operate()"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      label="Cancel"
      class="p-button-rounded p-button-danger custom-button"
      (click)="cancel()"
    ></button>
  </div>
</p-card>
